@import url("https://fonts.googleapis.com/css?family=Oswald");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

body {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1.5px;
  background-color: #7a0026; }

header {
  padding-top: 15px; }
  header ul {
    float: left; }
    header ul li {
      display: inline-block;
      margin-left: 20px;
      -webkit-transition: all 1s;
      transition: all 1s; }
      header ul li:hover {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px); }
      header ul li a {
        color: #dbd9da;
        text-decoration: none;
        -webkit-transition: all 0.5s;
        transition: all 0.5s; }
        header ul li a:hover {
          color: white; }
  header ul:nth-child(2) {
    margin-right: 20px;
    float: right; }

.start {
  margin-top: -15px;
  height: 98vh; }

.crown-logo {
  background: url("../../img/crown_logo.png") no-repeat;
  background-position: center;
  background-size: contain;
  margin: 1% auto;
  width: 30%;
  height: 90vh; }

.background-logo {
  background: url("../../img/back_logo.png") no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  width: 54%;
  height: 83%;
  z-index: -1;
  left: 23%;
  top: 11%; }

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInN0eWxlLnNjc3MiLCJfc2V0dGluZ3Muc2NzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFDQSw4REFBWTtBQUVaO0VBQ0UsK0JBQXNCO0VBQXRCLHVCQUFzQjtFQUN0QixVQUFTO0VBQ1QsV0FBVSxFQUNYOztBQUVEO0VBQ0UsWUFBVztFQUNYLGVBQWM7RUFDZCxZQUFXLEVBQ1o7O0FBRUQ7RUFDRSxrQ0FBaUM7RUFDakMsc0JBQXFCO0VBQ3JCLDBCQ2xCd0IsRURtQnpCOztBQUVEO0VBQ0Usa0JBQWlCLEVBOEJsQjtFQS9CRDtJQUlJLFlBQVcsRUFxQlo7SUF6Qkg7TUFPTSxzQkFBcUI7TUFDckIsa0JBQWlCO01BQ2pCLDJCQUFrQjtNQUFsQixtQkFBa0IsRUFlbkI7TUF4Qkw7UUFZUSxvQ0FBMkI7UUFBM0IsNEJBQTJCLEVBQzVCO01BYlA7UUFnQlEsZUNwQ3FCO1FEcUNyQixzQkFBcUI7UUFDckIsNkJBQW9CO1FBQXBCLHFCQUFvQixFQUtyQjtRQXZCUDtVQXFCVSxhQUFZLEVBQ2I7RUF0QlQ7SUE0QkksbUJBQWtCO0lBQ2xCLGFBQVksRUFDYjs7QUFJSDtFQUNFLGtCQUFpQjtFQUNqQixhQUFZLEVBQ2I7O0FBRUQ7RUFDRSxzREFBcUQ7RUFDckQsNEJBQTJCO0VBQzNCLHlCQUF3QjtFQUN4QixnQkFBZTtFQUNmLFdBQVU7RUFDVixhQUFZLEVBQ2I7O0FBRUQ7RUFDRSxxREFBb0Q7RUFDcEQsNEJBQTJCO0VBQzNCLHlCQUF3QjtFQUN4QixtQkFBa0I7RUFDbEIsV0FBVTtFQUNWLFlBQVc7RUFDWCxZQUFXO0VBQ1gsVUFBUztFQUNULFNBQVEsRUFDVCIsImZpbGUiOiJzdHlsZS5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyJAaW1wb3J0ICdzZXR0aW5ncyc7XHJcbkBpbXBvcnQgdXJsKCdodHRwczovL2ZvbnRzLmdvb2dsZWFwaXMuY29tL2Nzcz9mYW1pbHk9T3N3YWxkJyk7XHJcblxyXG4qIHtcclxuICBib3gtc2l6aW5nOiBib3JkZXItYm94O1xyXG4gIG1hcmdpbjogMDtcclxuICBwYWRkaW5nOiAwO1xyXG59XHJcblxyXG4uY2xlYXJmaXg6YWZ0ZXIge1xyXG4gIGNvbnRlbnQ6IFwiXCI7XHJcbiAgZGlzcGxheTogYmxvY2s7XHJcbiAgY2xlYXI6IGJvdGg7XHJcbn1cclxuXHJcbmJvZHkge1xyXG4gIGZvbnQtZmFtaWx5OiAnT3N3YWxkJywgc2Fucy1zZXJpZjtcclxuICBsZXR0ZXItc3BhY2luZzogMS41cHg7XHJcbiAgYmFja2dyb3VuZC1jb2xvcjogJGNvbG9yLWJnO1xyXG59XHJcblxyXG5oZWFkZXIge1xyXG4gIHBhZGRpbmctdG9wOiAxNXB4O1xyXG5cclxuICB1bCB7XHJcbiAgICBmbG9hdDogbGVmdDtcclxuXHJcbiAgICBsaSB7XHJcbiAgICAgIGRpc3BsYXk6IGlubGluZS1ibG9jaztcclxuICAgICAgbWFyZ2luLWxlZnQ6IDIwcHg7XHJcbiAgICAgIHRyYW5zaXRpb246IGFsbCAxcztcclxuXHJcbiAgICAgICY6aG92ZXIge1xyXG4gICAgICAgIHRyYW5zZm9ybTogdHJhbnNsYXRlWSgtNXB4KTtcclxuICAgICAgfVxyXG5cclxuICAgICAgYSB7XHJcbiAgICAgICAgY29sb3I6ICRmb250LW5hdjtcclxuICAgICAgICB0ZXh0LWRlY29yYXRpb246IG5vbmU7XHJcbiAgICAgICAgdHJhbnNpdGlvbjogYWxsIDAuNXM7XHJcblxyXG4gICAgICAgICY6aG92ZXIge1xyXG4gICAgICAgICAgY29sb3I6IHdoaXRlO1xyXG4gICAgICAgIH1cclxuICAgICAgfVxyXG4gICAgfVxyXG4gIH1cclxuXHJcbiAgdWw6bnRoLWNoaWxkKDIpIHtcclxuICAgIG1hcmdpbi1yaWdodDogMjBweDtcclxuICAgIGZsb2F0OiByaWdodDtcclxuICB9XHJcbn1cclxuLy8gc3RhcnQgZmlyc3Qgc2VjdGlvblxyXG5cclxuLnN0YXJ0IHtcclxuICBtYXJnaW4tdG9wOiAtMTVweDtcclxuICBoZWlnaHQ6IDk4dmg7XHJcbn1cclxuXHJcbi5jcm93bi1sb2dvIHtcclxuICBiYWNrZ3JvdW5kOiB1cmwoXCIuLi8uLi9pbWcvY3Jvd25fbG9nby5wbmdcIikgbm8tcmVwZWF0O1xyXG4gIGJhY2tncm91bmQtcG9zaXRpb246IGNlbnRlcjtcclxuICBiYWNrZ3JvdW5kLXNpemU6IGNvbnRhaW47XHJcbiAgbWFyZ2luOiAxJSBhdXRvO1xyXG4gIHdpZHRoOiAzMCU7XHJcbiAgaGVpZ2h0OiA5MHZoO1xyXG59XHJcblxyXG4uYmFja2dyb3VuZC1sb2dvIHtcclxuICBiYWNrZ3JvdW5kOiB1cmwoXCIuLi8uLi9pbWcvYmFja19sb2dvLnBuZ1wiKSBuby1yZXBlYXQ7XHJcbiAgYmFja2dyb3VuZC1wb3NpdGlvbjogY2VudGVyO1xyXG4gIGJhY2tncm91bmQtc2l6ZTogY29udGFpbjtcclxuICBwb3NpdGlvbjogYWJzb2x1dGU7XHJcbiAgd2lkdGg6IDU0JTtcclxuICBoZWlnaHQ6IDgzJTtcclxuICB6LWluZGV4OiAtMTtcclxuICBsZWZ0OiAyMyU7XHJcbiAgdG9wOiAxMSU7XHJcbn1cclxuIiwiJGNvbG9yLWJnOiByZ2IoMTIyLCAwLCAzOCk7XG4kZm9udC1uYXY6IHJnYigyMTksIDIxNywgMjE4KTtcbiRjb2xvci10ZW1wOiByZ2JhKDEzOSwgMjYsIDIxOCwgLjMxKTtcbiJdfQ== */
