@import url("https://fonts.googleapis.com/css?family=Oswald");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

body {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1.5px;
  background-color: #620026; }

section {
  padding: 25px 40px; }

header {
  padding-top: 15px; }
  header ul {
    float: left; }
    header ul li {
      display: inline-block;
      margin-left: 20px;
      -webkit-transition: all 1s;
      transition: all 1s; }
      header ul li:hover {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px); }
      header ul li a {
        color: #dbd9da;
        text-decoration: none;
        -webkit-transition: all 0.5s;
        transition: all 0.5s; }
        header ul li a:hover {
          color: white; }
  header ul:nth-child(2) {
    margin-right: 20px;
    margin-top: -10px;
    float: right; }
    header ul:nth-child(2) li:nth-child(4),
    header ul:nth-child(2) li:nth-child(5) {
      margin-left: 0; }
  header img {
    width: 67%;
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }

.start {
  padding: 0;
  height: 98vh; }

.crown-logo {
  background: url("../img/crown_logo.png") no-repeat;
  background-position: center;
  background-size: contain;
  margin: 1% -2000px;
  width: 30%;
  height: 90vh;
  -webkit-transition: all 1.6s;
  transition: all 1.6s; }
  .crown-logo:hover {
    -webkit-transform: rotateY(3.142rad);
    transform: rotateY(3.142rad); }

.crown-logo-move {
  margin: 1% 35%;
  -webkit-animation: rotate-logo 1.5s;
  animation: rotate-logo 1.5s; }

@-webkit-keyframes rotate-logo {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0); }
  50% {
    -webkit-transform: rotateY(3.142rad);
    transform: rotateY(3.142rad); }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0); } }

@keyframes rotate-logo {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0); }
  50% {
    -webkit-transform: rotateY(3.142rad);
    transform: rotateY(3.142rad); }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0); } }

.background-logo {
  background: url("../img/back_logo.png") no-repeat;
  opacity: 1;
  background-position: center;
  background-size: contain;
  position: absolute;
  width: 54%;
  height: 83%;
  z-index: -1;
  left: 23%;
  top: -150%;
  -webkit-animation: rotation 19s infinite linear;
  animation: rotation 19s infinite linear;
  -webkit-transition: all 1.3s;
  transition: all 1.3s; }

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

.graphic {
  background: black url("../img/back_logo_solid.png") no-repeat;
  background-position: -199px 82px;
  background-size: cover; }
  .graphic h2 {
    color: white; }

.main {
  padding: 10px 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 26px; }
  .main h2 {
    color: white; }

.gallery {
  margin-top: 30px;
  padding: 0.5vw;
  font-size: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }
  .gallery div {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    width: 300px;
    margin: 1px; }
    .gallery div img {
      width: 100%;
      height: auto;
      -webkit-transition: all 0.5s;
      transition: all 0.5s; }
      .gallery div img:hover {
        -webkit-transform: scale(0.96);
        transform: scale(0.96); }

@media screen and (max-width: 400px) {
  .gallery div {
    margin: 0; }
  .gallery {
    padding: 0; } }

.frontend {
  background: #dbd9da;
  height: 100vh; }
  .frontend .main h2 {
    color: black; }
  .frontend article {
    width: 65%;
    height: 400px;
    background: rgba(255, 255, 255, 0.79);
    border: #eeeeee dashed 2px;
    margin: 30px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .frontend article div {
      width: 60%;
      height: 90%;
      margin-left: 2%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .frontend article div p {
        margin-top: 10%; }

.frontend-img {
  background: url("../img/symmetry.png");
  background-size: cover;
  background-position: center; }

.construct {
  -webkit-transition: all 1s;
  transition: all 1s;
  position: fixed;
  right: -10%;
  top: 30px; }

.photo {
  background: black;
  height: 100vh; }

.about {
  background: #dbd9da;
  height: 100vh; }

aside {
  width: 50px;
  height: 40%;
  position: fixed;
  top: 4%;
  left: -100px;
  -webkit-transition: all 1s;
  transition: all 1s; }
  aside ul {
    list-style: none; }
    aside ul li {
      margin-top: 14px; }
  aside img {
    width: 100%;
    -webkit-transition: all 1s;
    transition: all 1s; }
    aside img:hover {
      -webkit-transform: rotateY(3.142rad);
      transform: rotateY(3.142rad); }

.move-aside {
  left: 20px; }

.small-logo {
  width: 100%;
  height: 31%;
  background: url("../img/crown_logo.png") no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  -webkit-transition: all 1s;
  transition: all 1s; }
  .small-logo:hover {
    -webkit-transform: rotateY(3.142rad);
    transform: rotateY(3.142rad); }

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInN0eWxlLnNjc3MiLCJfc2V0dGluZ3Muc2NzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFDQSw4REFBWTtBQUVaO0VBQ0UsK0JBQXNCO0VBQXRCLHVCQUFzQjtFQUN0QixVQUFTO0VBQ1QsV0FBVSxFQUNYOztBQUVEO0VBQ0UsWUFBVztFQUNYLGVBQWM7RUFDZCxZQUFXLEVBQ1o7O0FBRUQ7RUFDRSxrQ0FBaUM7RUFDakMsc0JBQXFCO0VBQ3JCLDBCQ2xCdUIsRURtQnhCOztBQUVEO0VBQ0UsbUJBQWtCLEVBQ25COztBQUVEO0VBQ0Usa0JBQWlCLEVBeUNsQjtFQTFDRDtJQUlJLFlBQVcsRUFxQlo7SUF6Qkg7TUFPTSxzQkFBcUI7TUFDckIsa0JBQWlCO01BQ2pCLDJCQUFrQjtNQUFsQixtQkFBa0IsRUFlbkI7TUF4Qkw7UUFZUSxvQ0FBMkI7UUFBM0IsNEJBQTJCLEVBQzVCO01BYlA7UUFnQlEsZUN4Q3FCO1FEeUNyQixzQkFBcUI7UUFDckIsNkJBQW9CO1FBQXBCLHFCQUFvQixFQUtyQjtRQXZCUDtVQXFCVSxhQUFZLEVBQ2I7RUF0QlQ7SUE0QkksbUJBQWtCO0lBQ2xCLGtCQUFpQjtJQUNqQixhQUFZLEVBTWI7SUFwQ0g7O01Ba0NNLGVBQWMsRUFDZjtFQW5DTDtJQXVDSSxXQUFVO0lBQ1YsbUNBQTBCO0lBQTFCLDJCQUEwQixFQUMzQjs7QUFJSDtFQUNFLFdBQVU7RUFDVixhQUFZLEVBQ2I7O0FBRUQ7RUFDRSxtREFBa0Q7RUFDbEQsNEJBQTJCO0VBQzNCLHlCQUF3QjtFQUN4QixtQkFBa0I7RUFDbEIsV0FBVTtFQUNWLGFBQVk7RUFDWiw2QkFBb0I7RUFBcEIscUJBQW9CLEVBS3JCO0VBWkQ7SUFVSSxxQ0FBNEI7SUFBNUIsNkJBQTRCLEVBQzdCOztBQUdIO0VBQ0UsZUFBYztFQUNkLG9DQUEyQjtFQUEzQiw0QkFBMkIsRUFDNUI7O0FBQ0Q7RUFDRTtJQUNFLDhCQUFxQjtJQUFyQixzQkFBcUIsRUFBQTtFQUd2QjtJQUNFLHFDQUE0QjtJQUE1Qiw2QkFBNEIsRUFBQTtFQUc5QjtJQUNFLDhCQUFxQjtJQUFyQixzQkFBcUIsRUFBQSxFQUFBOztBQVZ6QjtFQUNFO0lBQ0UsOEJBQXFCO0lBQXJCLHNCQUFxQixFQUFBO0VBR3ZCO0lBQ0UscUNBQTRCO0lBQTVCLDZCQUE0QixFQUFBO0VBRzlCO0lBQ0UsOEJBQXFCO0lBQXJCLHNCQUFxQixFQUFBLEVBQUE7O0FBSXpCO0VBQ0Usa0RBQWlEO0VBQ2pELFdBQVU7RUFDViw0QkFBMkI7RUFDM0IseUJBQXdCO0VBQ3hCLG1CQUFrQjtFQUNsQixXQUFVO0VBQ1YsWUFBVztFQUNYLFlBQVc7RUFDWCxVQUFTO0VBQ1QsV0FBVTtFQUNWLGdEQUF1QztFQUF2Qyx3Q0FBdUM7RUFDdkMsNkJBQW9CO0VBQXBCLHFCQUFvQixFQUNyQjs7QUFDRDtFQUVFO0lBQ0UsZ0NBQXVCO0lBQXZCLHdCQUF1QixFQUFBO0VBR3pCO0lBQ0Usa0NBQXlCO0lBQXpCLDBCQUF5QixFQUFBLEVBQUE7O0FBUDdCO0VBRUU7SUFDRSxnQ0FBdUI7SUFBdkIsd0JBQXVCLEVBQUE7RUFHekI7SUFDRSxrQ0FBeUI7SUFBekIsMEJBQXlCLEVBQUEsRUFBQTs7QUFLN0I7RUFDRSw4REFBb0U7RUFDcEUsaUNBQWdDO0VBQ2hDLHVCQUFzQixFQUt2QjtFQVJEO0lBTUksYUN4STRCLEVEeUk3Qjs7QUFHSDtFQUNFLHFCQUFvQjtFQUNwQixxQkFBYTtFQUFiLHFCQUFhO0VBQWIsY0FBYTtFQUNiLDBCQUFtQjtFQUFuQix1QkFBbUI7RUFBbkIsb0JBQW1CO0VBQ25CLDZCQUFzQjtFQUF0Qiw4QkFBc0I7RUFBdEIsMkJBQXNCO0VBQXRCLHVCQUFzQjtFQUN0QixrQkFBaUIsRUFLbEI7RUFWRDtJQVFJLGFDcEo0QixFRHFKN0I7O0FBR0g7RUFDRSxpQkFBZ0I7RUFDaEIsZUFBYztFQUNkLGFBQVk7RUFDWiwrQkFBbUI7RUFBbkIsOEJBQW1CO0VBQW5CLHdCQUFtQjtFQUFuQixvQkFBbUI7RUFDbkIscUJBQWE7RUFBYixxQkFBYTtFQUFiLGNBQWE7RUFDYixZQUFXLEVBaUJaO0VBdkJEO0lBU0ksb0JBQVU7SUFBVixlQUFVO0lBQVYsV0FBVTtJQUNWLGFBQVk7SUFDWixZQUFXLEVBV1o7SUF0Qkg7TUFjTSxZQUFXO01BQ1gsYUFBWTtNQUNaLDZCQUFvQjtNQUFwQixxQkFBb0IsRUFLckI7TUFyQkw7UUFtQlEsK0JBQXNCO1FBQXRCLHVCQUFzQixFQUN2Qjs7QUFJUDtFQUNFO0lBQ0UsVUFBUyxFQUNWO0VBRUQ7SUFDRSxXQUFVLEVBQ1gsRUFBQTs7QUFJSDtFQU1FLG9CQ25NMkI7RURvTTNCLGNBQWEsRUE0QmQ7RUFuQ0Q7SUFHTSxhQUFZLEVBQ2I7RUFKTDtJQVVJLFdBQVU7SUFDVixjQUFhO0lBQ2Isc0NBQXNDO0lBQ3RDLDJCQUFxQztJQUNyQyxrQkFBaUI7SUFDakIscUJBQWE7SUFBYixxQkFBYTtJQUFiLGNBQWE7SUFDYixjQUFhO0lBQ2IsMEJBQW1CO0lBQW5CLHVCQUFtQjtJQUFuQixvQkFBbUI7SUFDbkIseUJBQXVCO0lBQXZCLHNCQUF1QjtJQUF2Qix3QkFBdUIsRUFnQnhCO0lBbENIO01BcUJNLFdBQVU7TUFDVixZQUFXO01BQ1gsZ0JBQWU7TUFDZixxQkFBYTtNQUFiLHFCQUFhO01BQWIsY0FBYTtNQUViLDBCQUFtQjtNQUFuQix1QkFBbUI7TUFBbkIsb0JBQW1CO01BQ25CLDZCQUFzQjtNQUF0Qiw4QkFBc0I7TUFBdEIsMkJBQXNCO01BQXRCLHVCQUFzQixFQU12QjtNQWpDTDtRQStCUSxnQkFBZSxFQUNoQjs7QUFLUDtFQUNFLHVDQUFzQztFQUN0Qyx1QkFBc0I7RUFDdEIsNEJBQTJCLEVBQzVCOztBQUVEO0VBQ0UsMkJBQWtCO0VBQWxCLG1CQUFrQjtFQUNsQixnQkFBYztFQUNkLFlBQVc7RUFDWCxVQUFTLEVBQ1Y7O0FBR0Q7RUFDRSxrQkFBaUI7RUFDakIsY0FBYSxFQUNkOztBQUdEO0VBQ0Usb0JDdlAyQjtFRHdQM0IsY0FBYSxFQUNkOztBQUVEO0VBQ0UsWUFBVztFQUNYLFlBQVc7RUFDWCxnQkFBZTtFQUNmLFFBQU87RUFDUCxhQUFZO0VBQ1osMkJBQWtCO0VBQWxCLG1CQUFrQixFQWtCbkI7RUF4QkQ7SUFTSSxpQkFBZ0IsRUFLakI7SUFkSDtNQVlNLGlCQUFnQixFQUNqQjtFQWJMO0lBaUJJLFlBQVc7SUFDWCwyQkFBa0I7SUFBbEIsbUJBQWtCLEVBS25CO0lBdkJIO01BcUJNLHFDQUE0QjtNQUE1Qiw2QkFBNEIsRUFDN0I7O0FBSUw7RUFDRSxXQUFVLEVBQ1g7O0FBRUQ7RUFDRSxZQUFXO0VBQ1gsWUFBVztFQUNYLG1EQUFrRDtFQUNsRCw0QkFBMkI7RUFDM0IseUJBQXdCO0VBQ3hCLGdCQUFlO0VBQ2YsMkJBQWtCO0VBQWxCLG1CQUFrQixFQUtuQjtFQVpEO0lBVUkscUNBQTRCO0lBQTVCLDZCQUE0QixFQUM3QiIsImZpbGUiOiJzdHlsZS5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyJAaW1wb3J0ICdzZXR0aW5ncyc7XHJcbkBpbXBvcnQgdXJsKCdodHRwczovL2ZvbnRzLmdvb2dsZWFwaXMuY29tL2Nzcz9mYW1pbHk9T3N3YWxkJyk7XHJcblxyXG4qIHtcclxuICBib3gtc2l6aW5nOiBib3JkZXItYm94O1xyXG4gIG1hcmdpbjogMDtcclxuICBwYWRkaW5nOiAwO1xyXG59XHJcblxyXG4uY2xlYXJmaXg6YWZ0ZXIge1xyXG4gIGNvbnRlbnQ6IFwiXCI7XHJcbiAgZGlzcGxheTogYmxvY2s7XHJcbiAgY2xlYXI6IGJvdGg7XHJcbn1cclxuXHJcbmJvZHkge1xyXG4gIGZvbnQtZmFtaWx5OiAnT3N3YWxkJywgc2Fucy1zZXJpZjtcclxuICBsZXR0ZXItc3BhY2luZzogMS41cHg7XHJcbiAgYmFja2dyb3VuZC1jb2xvcjogJGNvbG9yLWJnO1xyXG59XHJcblxyXG5zZWN0aW9uIHtcclxuICBwYWRkaW5nOiAyNXB4IDQwcHg7XHJcbn1cclxuXHJcbmhlYWRlciB7XHJcbiAgcGFkZGluZy10b3A6IDE1cHg7XHJcblxyXG4gIHVsIHtcclxuICAgIGZsb2F0OiBsZWZ0O1xyXG5cclxuICAgIGxpIHtcclxuICAgICAgZGlzcGxheTogaW5saW5lLWJsb2NrO1xyXG4gICAgICBtYXJnaW4tbGVmdDogMjBweDtcclxuICAgICAgdHJhbnNpdGlvbjogYWxsIDFzO1xyXG5cclxuICAgICAgJjpob3ZlciB7XHJcbiAgICAgICAgdHJhbnNmb3JtOiB0cmFuc2xhdGVZKC01cHgpO1xyXG4gICAgICB9XHJcblxyXG4gICAgICBhIHtcclxuICAgICAgICBjb2xvcjogJGZvbnQtbmF2O1xyXG4gICAgICAgIHRleHQtZGVjb3JhdGlvbjogbm9uZTtcclxuICAgICAgICB0cmFuc2l0aW9uOiBhbGwgMC41cztcclxuXHJcbiAgICAgICAgJjpob3ZlciB7XHJcbiAgICAgICAgICBjb2xvcjogd2hpdGU7XHJcbiAgICAgICAgfVxyXG4gICAgICB9XHJcbiAgICB9XHJcbiAgfVxyXG5cclxuICB1bDpudGgtY2hpbGQoMikge1xyXG4gICAgbWFyZ2luLXJpZ2h0OiAyMHB4O1xyXG4gICAgbWFyZ2luLXRvcDogLTEwcHg7XHJcbiAgICBmbG9hdDogcmlnaHQ7XHJcblxyXG4gICAgbGk6bnRoLWNoaWxkKDQpLFxyXG4gICAgbGk6bnRoLWNoaWxkKDUpIHtcclxuICAgICAgbWFyZ2luLWxlZnQ6IDA7XHJcbiAgICB9XHJcbiAgfVxyXG5cclxuICBpbWcge1xyXG4gICAgd2lkdGg6IDY3JTtcclxuICAgIHRyYW5zZm9ybTogdHJhbnNsYXRlWSg4cHgpO1xyXG4gIH1cclxufVxyXG4vLyBzdGFydCBmaXJzdCBzZWN0aW9uXHJcblxyXG4uc3RhcnQge1xyXG4gIHBhZGRpbmc6IDA7XHJcbiAgaGVpZ2h0OiA5OHZoO1xyXG59XHJcblxyXG4uY3Jvd24tbG9nbyB7XHJcbiAgYmFja2dyb3VuZDogdXJsKFwiLi4vaW1nL2Nyb3duX2xvZ28ucG5nXCIpIG5vLXJlcGVhdDtcclxuICBiYWNrZ3JvdW5kLXBvc2l0aW9uOiBjZW50ZXI7XHJcbiAgYmFja2dyb3VuZC1zaXplOiBjb250YWluO1xyXG4gIG1hcmdpbjogMSUgLTIwMDBweDtcclxuICB3aWR0aDogMzAlO1xyXG4gIGhlaWdodDogOTB2aDtcclxuICB0cmFuc2l0aW9uOiBhbGwgMS42cztcclxuXHJcbiAgJjpob3ZlciB7XHJcbiAgICB0cmFuc2Zvcm06IHJvdGF0ZVkoMy4xNDJyYWQpO1xyXG4gIH1cclxufVxyXG5cclxuLmNyb3duLWxvZ28tbW92ZSB7XHJcbiAgbWFyZ2luOiAxJSAzNSU7XHJcbiAgYW5pbWF0aW9uOiByb3RhdGUtbG9nbyAxLjVzO1xyXG59XHJcbkBrZXlmcmFtZXMgcm90YXRlLWxvZ28ge1xyXG4gIDAlIHtcclxuICAgIHRyYW5zZm9ybTogcm90YXRlWSgwKTtcclxuICB9XHJcblxyXG4gIDUwJSB7XHJcbiAgICB0cmFuc2Zvcm06IHJvdGF0ZVkoMy4xNDJyYWQpO1xyXG4gIH1cclxuXHJcbiAgMTAwJSB7XHJcbiAgICB0cmFuc2Zvcm06IHJvdGF0ZVkoMCk7XHJcbiAgfVxyXG59XHJcblxyXG4uYmFja2dyb3VuZC1sb2dvIHtcclxuICBiYWNrZ3JvdW5kOiB1cmwoXCIuLi9pbWcvYmFja19sb2dvLnBuZ1wiKSBuby1yZXBlYXQ7XHJcbiAgb3BhY2l0eTogMTtcclxuICBiYWNrZ3JvdW5kLXBvc2l0aW9uOiBjZW50ZXI7XHJcbiAgYmFja2dyb3VuZC1zaXplOiBjb250YWluO1xyXG4gIHBvc2l0aW9uOiBhYnNvbHV0ZTtcclxuICB3aWR0aDogNTQlO1xyXG4gIGhlaWdodDogODMlO1xyXG4gIHotaW5kZXg6IC0xO1xyXG4gIGxlZnQ6IDIzJTtcclxuICB0b3A6IC0xNTAlO1xyXG4gIGFuaW1hdGlvbjogcm90YXRpb24gMTlzIGluZmluaXRlIGxpbmVhcjtcclxuICB0cmFuc2l0aW9uOiBhbGwgMS4zcztcclxufVxyXG5Aa2V5ZnJhbWVzIHJvdGF0aW9uIHtcclxuICAvL3ptaWVuaWMgbmEgMTAwJT9cclxuICBmcm9tIHtcclxuICAgIHRyYW5zZm9ybTogcm90YXRlKDBkZWcpO1xyXG4gIH1cclxuXHJcbiAgdG8ge1xyXG4gICAgdHJhbnNmb3JtOiByb3RhdGUoMzU5ZGVnKTtcclxuICB9XHJcbn1cclxuLy9zZWNvbmQgc2VjdGlvblxyXG5cclxuLmdyYXBoaWMge1xyXG4gIGJhY2tncm91bmQ6ICRjb2xvci1ibGFjayB1cmwoJy4uL2ltZy9iYWNrX2xvZ29fc29saWQucG5nJykgbm8tcmVwZWF0O1xyXG4gIGJhY2tncm91bmQtcG9zaXRpb246IC0xOTlweCA4MnB4O1xyXG4gIGJhY2tncm91bmQtc2l6ZTogY292ZXI7XHJcblxyXG4gIGgyIHtcclxuICAgIGNvbG9yOiAkY29sb3Itd2hpdGU7XHJcbiAgfVxyXG59XHJcblxyXG4ubWFpbiB7XHJcbiAgcGFkZGluZzogMTBweCAyMHB4IDA7XHJcbiAgZGlzcGxheTogZmxleDtcclxuICBhbGlnbi1pdGVtczogY2VudGVyO1xyXG4gIGZsZXgtZGlyZWN0aW9uOiBjb2x1bW47XHJcbiAgbWFyZ2luLWxlZnQ6IDI2cHg7XHJcblxyXG4gIGgyIHtcclxuICAgIGNvbG9yOiAkY29sb3Itd2hpdGU7XHJcbiAgfVxyXG59XHJcblxyXG4uZ2FsbGVyeSB7XHJcbiAgbWFyZ2luLXRvcDogMzBweDtcclxuICBwYWRkaW5nOiAwLjV2dztcclxuICBmb250LXNpemU6IDA7XHJcbiAgZmxleC1mbG93OiByb3cgd3JhcDtcclxuICBkaXNwbGF5OiBmbGV4O1xyXG4gIHdpZHRoOiAxMDAlO1xyXG5cclxuICBkaXYge1xyXG4gICAgZmxleDogYXV0bztcclxuICAgIHdpZHRoOiAzMDBweDtcclxuICAgIG1hcmdpbjogMXB4O1xyXG5cclxuICAgIGltZyB7XHJcbiAgICAgIHdpZHRoOiAxMDAlO1xyXG4gICAgICBoZWlnaHQ6IGF1dG87XHJcbiAgICAgIHRyYW5zaXRpb246IGFsbCAwLjVzO1xyXG5cclxuICAgICAgJjpob3ZlciB7XHJcbiAgICAgICAgdHJhbnNmb3JtOiBzY2FsZSgwLjk2KTtcclxuICAgICAgfVxyXG4gICAgfVxyXG4gIH1cclxufVxyXG5AbWVkaWEgc2NyZWVuIGFuZCAobWF4LXdpZHRoOiA0MDBweCkge1xyXG4gIC5nYWxsZXJ5IGRpdiB7XHJcbiAgICBtYXJnaW46IDA7XHJcbiAgfVxyXG5cclxuICAuZ2FsbGVyeSB7XHJcbiAgICBwYWRkaW5nOiAwO1xyXG4gIH1cclxufVxyXG4vL0ZST05URU5EXHJcblxyXG4uZnJvbnRlbmQge1xyXG4gIC5tYWluIHtcclxuICAgIGgyIHtcclxuICAgICAgY29sb3I6IGJsYWNrO1xyXG4gICAgfVxyXG4gIH1cclxuICBiYWNrZ3JvdW5kOiAkZm9udC1uYXY7XHJcbiAgaGVpZ2h0OiAxMDB2aDtcclxuXHJcbiAgYXJ0aWNsZSB7XHJcbiAgICB3aWR0aDogNjUlO1xyXG4gICAgaGVpZ2h0OiA0MDBweDtcclxuICAgIGJhY2tncm91bmQ6ICByZ2JhKDI1NSwgMjU1LCAyNTUsIDAuNzkpO1xyXG4gICAgYm9yZGVyOiByZ2IoMjM4LCAyMzgsIDIzOCkgZGFzaGVkIDJweDtcclxuICAgIG1hcmdpbjogMzBweCBhdXRvO1xyXG4gICAgZGlzcGxheTogZmxleDtcclxuICAgIHBhZGRpbmc6IDEwcHg7XHJcbiAgICBhbGlnbi1pdGVtczogY2VudGVyO1xyXG4gICAganVzdGlmeS1jb250ZW50OiBjZW50ZXI7XHJcblxyXG4gICAgZGl2IHtcclxuICAgICAgd2lkdGg6IDYwJTtcclxuICAgICAgaGVpZ2h0OiA5MCU7XHJcbiAgICAgIG1hcmdpbi1sZWZ0OiAyJTtcclxuICAgICAgZGlzcGxheTogZmxleDtcclxuICAgICAgLy8ganVzdGlmeS1jb250ZW50OiBjZW50ZXI7XHJcbiAgICAgIGFsaWduLWl0ZW1zOiBjZW50ZXI7XHJcbiAgICAgIGZsZXgtZGlyZWN0aW9uOiBjb2x1bW47XHJcbiAgICAgIGgzIHt9XHJcblxyXG4gICAgICBwIHtcclxuICAgICAgICBtYXJnaW4tdG9wOiAxMCU7XHJcbiAgICAgIH1cclxuICAgIH1cclxuICB9XHJcbn1cclxuXHJcbi5mcm9udGVuZC1pbWcge1xyXG4gIGJhY2tncm91bmQ6IHVybChcIi4uL2ltZy9zeW1tZXRyeS5wbmdcIik7XHJcbiAgYmFja2dyb3VuZC1zaXplOiBjb3ZlcjtcclxuICBiYWNrZ3JvdW5kLXBvc2l0aW9uOiBjZW50ZXI7XHJcbn1cclxuXHJcbi5jb25zdHJ1Y3Qge1xyXG4gIHRyYW5zaXRpb246IGFsbCAxcztcclxuICBwb3NpdGlvbjpmaXhlZDtcclxuICByaWdodDogLTEwJTtcclxuICB0b3A6IDMwcHg7XHJcbn1cclxuLy9waG90b1xyXG5cclxuLnBob3RvIHtcclxuICBiYWNrZ3JvdW5kOiBibGFjaztcclxuICBoZWlnaHQ6IDEwMHZoO1xyXG59XHJcbi8vQUJPVVRcclxuXHJcbi5hYm91dCB7XHJcbiAgYmFja2dyb3VuZDogJGZvbnQtbmF2O1xyXG4gIGhlaWdodDogMTAwdmg7XHJcbn1cclxuLy9hc2lkZVxyXG5hc2lkZSB7XHJcbiAgd2lkdGg6IDUwcHg7XHJcbiAgaGVpZ2h0OiA0MCU7XHJcbiAgcG9zaXRpb246IGZpeGVkO1xyXG4gIHRvcDogNCU7XHJcbiAgbGVmdDogLTEwMHB4O1xyXG4gIHRyYW5zaXRpb246IGFsbCAxcztcclxuXHJcbiAgdWwge1xyXG4gICAgbGlzdC1zdHlsZTogbm9uZTtcclxuXHJcbiAgICBsaSB7XHJcbiAgICAgIG1hcmdpbi10b3A6IDE0cHg7XHJcbiAgICB9XHJcbiAgfVxyXG5cclxuICBpbWcge1xyXG4gICAgd2lkdGg6IDEwMCU7XHJcbiAgICB0cmFuc2l0aW9uOiBhbGwgMXM7XHJcblxyXG4gICAgJjpob3ZlciB7XHJcbiAgICAgIHRyYW5zZm9ybTogcm90YXRlWSgzLjE0MnJhZCk7XHJcbiAgICB9XHJcbiAgfVxyXG59XHJcblxyXG4ubW92ZS1hc2lkZSB7XHJcbiAgbGVmdDogMjBweDtcclxufVxyXG5cclxuLnNtYWxsLWxvZ28ge1xyXG4gIHdpZHRoOiAxMDAlO1xyXG4gIGhlaWdodDogMzElO1xyXG4gIGJhY2tncm91bmQ6IHVybChcIi4uL2ltZy9jcm93bl9sb2dvLnBuZ1wiKSBuby1yZXBlYXQ7XHJcbiAgYmFja2dyb3VuZC1wb3NpdGlvbjogY2VudGVyO1xyXG4gIGJhY2tncm91bmQtc2l6ZTogY29udGFpbjtcclxuICBjdXJzb3I6IHBvaW50ZXI7XHJcbiAgdHJhbnNpdGlvbjogYWxsIDFzO1xyXG5cclxuICAmOmhvdmVyIHtcclxuICAgIHRyYW5zZm9ybTogcm90YXRlWSgzLjE0MnJhZCk7XHJcbiAgfVxyXG59XHJcbiIsIiRjb2xvci1iZzogcmdiKDk4LCAwLCAzOCk7XG4kZm9udC1uYXY6IHJnYigyMTksIDIxNywgMjE4KTtcbiRjb2xvci10ZW1wOiByZ2JhKDEzOSwgMjYsIDIxOCwgLjMxKTtcbiRjb2xvci13aGl0ZTogcmdiKDI1NSwgMjU1LCAyNTUpO1xuJGNvbG9yLWJsYWNrOiByZ2IoMCwgMCwgMCk7XG4iXX0= */
