@import 'settings';
@import url('https://fonts.googleapis.com/css?family=Oswald');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

body {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1.5px;
  background-color: $color-bg;
}

header {
  padding-top: 15px;

  ul {
    float: left;

    li {
      display: inline-block;
      margin-left: 20px;
      transition: all 1s;

      &:hover {
        transform: translateY(-5px);
      }

      a {
        color: $font-nav;
        text-decoration: none;
        transition: all 0.5s;

        &:hover {
          color: white;
        }
      }
    }
  }

  ul:nth-child(2) {
    margin-right: 20px;
    margin-top: -10px;
    float: right;
    li:nth-child(4),li:nth-child(5) {
      margin-left: 0px;
    }
  }
  img {
    width: 67%;
    transform: translateY(8px);
  }
}
// start first section

.start {
  // margin-top: -15px;
  height: 98vh;
}

.crown-logo {
  background: url("../../img/crown_logo.png") no-repeat;
  background-position: center;
  background-size: contain;
  margin: 1% -3000px;
  width: 30%;
  height: 90vh;
  transition: all 1.6s;
  &:hover{
    transform: rotateY(3.142rad);
  }
}

.crown-logo-move {
  margin: 1% 35%;
}

// .crown-logo-animate {
//   animation: moveBigCrown 1s;
// }
// @keyframes moveBigCrown {
//   0% {
//     margin: 1% 35%;
//   }
//
//   50% {
//     margin: 1% 37%;
//   }
//   100% {
//       margin: 1% 35%;
//   }
// }

.background-logo {
  background: url("../../img/back_logo.png") no-repeat;
  opacity: 1;
  background-position: center;
  background-size: contain;
  position: absolute;
  width: 54%;
  height: 83%;
  z-index: -1;
  left: 23%;
  top: -150%;
  animation: rotation 19s infinite linear;
  transition: all 1.3s;
}
@keyframes rotation {
  //zmienic na 100%?
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}
//second section

.graphic {
  height: 100vh;
  background: $color-black;
  padding: 50px;

  div {
    width: 50%;
    padding: 10vh 0 0;
    margin: 0 auto;
  }

  p {
    width: 26%;
    margin: 0 auto;
    color: $color-white;
  }
}
