@import 'settings';
@import url('https://fonts.googleapis.com/css?family=Oswald');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

body {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1.5px;
  background-color: $color-bg;
}

header {
  padding-top: 15px;

  ul {
    float: left;

    li {
      display: inline-block;
      margin-left: 20px;
      transition: all 1s;

      &:hover {
        transform: translateY(-5px);
      }

      a {
        color: $font-nav;
        text-decoration: none;
        transition: all 1s;

        &:hover {
          color: white;
        }
      }
    }
  }

  ul:nth-child(2) {
    margin-right: 20px;
    float: right;
  }
}

.crown-logo {
  background: url("../../img/crown_logo.png") no-repeat;
  background-position: center;
  background-size: contain;
  margin: 1% auto;
  width: 30%;
  height: 90vh;
}
