@import 'settings';
@import url('https://fonts.googleapis.com/css?family=Oswald');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

body {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1.5px;
  background-color: $color-bg;
}

header {
  padding-top: 15px;

  ul {
    float: left;

    li {
      display: inline-block;
      margin-left: 20px;
      transition: all 1s;

      &:hover {
        transform: translateY(-5px);
      }

      a {
        color: $font-nav;
        text-decoration: none;
        transition: all 0.5s;

        &:hover {
          color: white;
        }
      }
    }
  }

  ul:nth-child(2) {
    margin-right: 20px;
    margin-top: -10px;
    float: right;

    li:nth-child(4),
    li:nth-child(5) {
      margin-left: 0;
    }
  }

  img {
    width: 67%;
    transform: translateY(8px);
  }
}
// start first section

.start {
  // margin-top: -15px;
  height: 98vh;
}

.crown-logo {
  background: url("../img/crown_logo.png") no-repeat;
  background-position: center;
  background-size: contain;
  margin: 1% -2000px;
  width: 30%;
  height: 90vh;
  transition: all 1.6s;

  &:hover {
    transform: rotateY(3.142rad);
  }
}

.crown-logo-move {
  margin: 1% 35%;
  animation: rotate-logo 1.5s;
}
@keyframes rotate-logo {
  0% {
    transform: rotateY(0);
  }

  50% {
    transform: rotateY(3.142rad);
  }

  100% {
    transform: rotateY(0);
  }
}

.background-logo {
  background: url("../img/back_logo.png") no-repeat;
  opacity: 1;
  background-position: center;
  background-size: contain;
  position: absolute;
  width: 54%;
  height: 83%;
  z-index: -1;
  left: 23%;
  top: -150%;
  animation: rotation 19s infinite linear;
  transition: all 1.3s;
}
@keyframes rotation {
  //zmienic na 100%?
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}
//second section

.graphic {
  height: 100vh;
  background: $color-black;
  padding: 25px 40px;

  .main {
    padding: 10px 20px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 26px;
  }

  h2 {
    color: $color-white;
  }
}

.gallery {
  margin-top: 30px;
  padding: 0.5vw;
  font-size: 0;
  flex-flow: row wrap;
  display: flex;
  width: 100%;

  div {
    flex: auto;
    width: 300px;
    margin: 1px;

    img {
      width: 100%;
      height: auto;
      transition: all .5s;
      &:hover{
        transform: scale(0.96);
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .gallery div {
    margin: 0;
  }

  .gallery {
    padding: 0;
  }
}
// @media screen and (max-width: 400px) {
//   .gallery div { margin: 0; }
//   .gallery { padding: 0; }
//
// }
//aside

aside {
  width: 50px;
  height: 40%;
  position: fixed;
  top: 4%;
  left: -500px;
  transition: all 1s;
}

.move-aside {
  left: 20px;
}

.small-logo {
  width: 100%;
  height: 31%;
  background: url("../img/crown_logo.png") no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  transition: all 1s;

  &:hover {
    transform: rotateY(3.142rad);
  }
}
