@import 'settings';
@import url('https://fonts.googleapis.com/css?family=Oswald');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

body {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1.5px;
  background-color: $color-bg;
}

section {
  padding: 25px 40px;
}

footer,
header {
  padding-top: 15px;

  ul {
    float: left;

    li {
      display: inline-block;
      margin-left: 20px;
      transition: all 1s;

      &:hover {
        transform: translateY(-5px);
      }

      a {
        color: $font-nav;
        text-decoration: none;
        transition: all 0.5s;

        &:hover {
          color: white;
        }
      }
    }
  }

  ul:nth-child(2) {
    margin-right: 20px;
    margin-top: -7px;
    float: right;

    li:nth-child(4),
    li:nth-child(5) {
      margin-left: 0;
    }
  }

  img {
    width: 67%;
    transform: translateY(8px);
  }
}
// start first section

.start {
  padding: 0;
  height: 98vh;
  position: relative;
    z-index: -2;
}

.crown-logo {
  background: url("../img/crown_logo.png") no-repeat;
  background-position: center;
  background-size: contain;
  margin: 1% -2000px;
  width: 30%;
  height: 90vh;
  transition: all 1.6s;
  position: fixed;
  &:hover {
    transform: rotateY(3.142rad);
  }
}

.crown-logo-move {
  margin: 1% 35%;
  animation: rotate-logo 1.5s;
}
@keyframes rotate-logo {
  0% {
    transform: rotateY(0);
  }

  50% {
    transform: rotateY(3.142rad);
  }

  100% {
    transform: rotateY(0);
  }
}

.background-logo {
  background: url("../img/back_logo.png") no-repeat;
  opacity: 1;
  background-position: center;
  background-size: contain;
  position: absolute;
  width: 54%;
  height: 83%;
  z-index: -1;
  left: 23%;
  top: -150%;
  animation: rotation 19s infinite linear;
  transition: all 1.3s;
}
@keyframes rotation {
  //zmienic na 100%?
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}
@media screen and (max-width: 842px) {
  .background-logo {
    animation: none !important;
  }

  .contact .contact-main {
    width: 90% !important;
  }

  .about .main {
    height: 100% !important;
  }

  .tools {
    height: auto !important;
  }
}
@media screen and (max-width: 842px) {
  footer,
  header {
    display: none;
  }

  .start {
    height: 100vh;
  }

  .construct {
    display: none;
  }

  .about {
    height: 100% !important;
  }

  .side-photo {
    display: none !important;
  }

  .about .main div:nth-child(1) {
    width: 94% !important;
    padding: 3% 0 3% 8px !important;
  }

  .frontend article {
    display: block!important;
    height: 229px !important;
    width: 106% !important;
  }

  .frontend article div {
    width: auto !important;
  }

  .frontend-info {
    p {
      display: none;
    }

    div {
      display: none;
    }
  }

  h3 {
    font-size: 4.5vw;
  }
}
//second section

.graphic {
  background: $color-black url('../img/back_logo_solid.png') no-repeat;
  background-position: -199px 82px;
  background-size: cover;
  background-attachment: fixed;

  h2 {
    color: $color-white;
  }
}

.main {
  padding: 10px 20px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 26px;

  h2 {
    color: $color-white;
  }
}

.gallery {
  margin-top: 30px;
  padding: 0.5vw;
  font-size: 0;
  flex-flow: row wrap;
  display: flex;
  width: 100%;

  div {
    flex: auto;
    width: 300px;
    margin: 1px;

    img {
      width: 100%;
      height: auto;
      transition: all 0.5s;

      &:hover {
        transform: scale(0.96);
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .gallery div {
    margin: 0;
  }

  .gallery {
    padding: 0;
  }
}
//FRONTEND

.frontend {
  .main {
    h2 {
      color: black;
    }
  }
  background: $font-nav url('../img/crown_logo2.png') no-repeat;
  background-position: right -27px;
  background-attachment: fixed;
  transition: all 1s;
  article {
    width: 70%;
    height: 400px;
    background: rgba(255, 255, 255, 0.79);
    border: rgb(238, 238, 238) solid 2px;
    border-radius: 20px 0;
    margin: 30px auto;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;

    div {
      width: 60%;
      height: 90%;
      margin-left: 2%;
      display: flex;
      // justify-content: center;
      align-items: center;
      flex-direction: column;

      h3 {}

      p {
        margin-top: 7%;
        padding: 3%;
      }

      .icons {
        margin-top: 70px;
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
    }

    .icon {
      width: 80px;
      height: 80px;
      transition: all 1s;
      background-position: center !important;
      background-size: contain !important;

      a {
        width: 100%;
        height: 100%;
      }

      &:hover {
        transform: rotate(359deg);
      }
    }

    .preview {
      background: url("../img/preview.png") no-repeat;
    }

    .preview-git {
      background: url("../img/preview_git.png") no-repeat;
    }
  }
}
@media screen and (max-width: 1080px) {
  article {
    width: 90% !important;
  }
}

.frontend-img {
  background-size: cover !important;
  background-position: center;
  transition: 1s all;

  a {
    width: 100%;
    height: 100%;
  }

  &:hover {
    background-position: right top;
  }
}

.symmetry {
  background: url("../img/symmetry.png");
}

.wine {
  background: url("../img/wine.png");
}

.spice {
  background: url("../img/spice.png");
}

.dzik {
  background: url("../img/dzik.png");
}

.zombie {
  background: url("../img/zombie.png");
}

.construct {
  transition: all 1s;
  position: fixed;
  right: -30%;
  top: 30px;
}
//photo

.photo {
  background-color: $color-bg;
  background-image: url("../img/back_logo_opacity.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: -199px 82px;
}
//about

.about {
  background: white;
  background-image: url("../img/back_logo_opacity.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: -199px 82px;
  padding: 0;
  height: 100vh;

  .main {
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    height: 60vh;

    .side-photo {
      &:before {
        content: '';
        width: 0;
        height: 0;
        border-bottom: 400px solid black;
        border-left: 400px solid transparent;
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }

    div {
      display: flex;
      align-items: center;
      width: 30%;
      flex-direction: column;
    }

    div:nth-child(1) {
      width: 64%;
      padding: 3% 5%;

      h2 {
        color: black;
      }

      p {
        padding: 25px;
        margin-top: 20px;
        line-height: 1.6;
        font-size: 1.1rem;
      }

      .contact-button {
        background: $color-bg;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        padding: 20px 10px !important;
        transition: all 1s;
        cursor: pointer;

        h3 {
          color: white;
        }

        &:hover {
          transform: translateY(-10px);
        }
      }
    }

    img {
      width: 30%;
      position: absolute;
      right: 5%;
      bottom: -39px;
      transition: all 2s;
    }
  }
}

.tools {
  padding-bottom: 50px;
  background: black;
  z-index: 1;
  height: 40vh;
  transition: all 1s;
  margin-left: -3400px;

  h2 {
    color: white;
    padding-top: 41px;
    padding-left: 33%;
  }

  img {
    height: 70px;
    margin-left: 30px;
    margin-top: 30px;
  }

  div {
    width: 90%;
    margin: 0 auto;
  }
}
//footer

footer {
  height: 60px;
  background: $color-bg;
}
//aside

aside {
  width: 50px;
  height: 40%;
  position: fixed;
  top: 4%;
  left: -100px;
  transition: all 1s;

  ul {
    list-style: none;

    li {
      margin-top: 14px;
    }
  }

  img {
    width: 100%;
    transition: all 1s;

    &:hover {
      transform: rotate(3.142rad);
    }

    &:active {
      transform: scale(2);
    }
  }
}

.move-aside {
  left: 20px;
}
// contact-main

.contact {
  background-color: $color-black-transparent;
  background-image: url("../img/back_logo_opacity.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: -199px 82px;
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: -4000px;
  transition: all 1s;
  display: flex;
  align-items: center;
  justify-content: center;

  .contact-main {
    width: 90%;
    background: white;
    width: 40%;
    padding: 4%;
    border-radius: 30px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 8px $color-bg solid;
    z-index: 3;

    p {
      padding: 5%;
    }

    .contact-social {
      display: flex;
      flex-direction: column;

      .contact-icons {
        display: flex;
        justify-content: space-around;
        padding: 30px;

        a {
          transition: 1s all;

          &:hover {
            transform: translateY(-5px);
          }
        }
      }
    }
  }
}

.gallery-slider {
  background: $color-black-transparent;
  height: 100vh;
  width: 100%;
  position: fixed;
  top:0;
  left: -1550px;
  transition: all 0.5s;
  div{
    width:60%;
    height: 100vh;
    background: black;
    margin: 0 auto;
    position: relative;

  }
  .close-slider {
    width: 40px;
    height: 40px;
    background: $color-white;
    position:absolute;
    top: 40px;
    right: 50px;
    border-radius: 50%;
    display: flex;
    span{
      color: black;
      font-weight: bold;
    }
  }
}
