@import 'settings';
@import url('https://fonts.googleapis.com/css?family=Oswald');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

body {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1.5px;
  background-color: $color-bg;
}

header {
  padding-top: 15px;
  ul { float: left;
    li {
      display: inline-block;
      margin-left: 20px;
      a {
        color: $font-nav;
        text-decoration: none;
      }
    }
  }
  ul:nth-child(2) {
    margin-right: 20px;
    float: right;
  }
}
